* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.spin-two-three {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	width: 594px;
	margin: 1em auto;
	visibility: hidden;
}

.spin-two-three.started {
	visibility: visible;
}

.spinner {
	height: 1em;
	overflow: hidden;
	position: relative;
}

.slices {
	font-size: 0;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	left: 0;
}

.slice {
	font-size: 16px;
	font-size: 1rem;
	display: inline-block;
	width: 594px;
	position: relative;
	z-index: -1;
}

.slice img {
	display: block;
	position: relative;
}

.head {
	height: 192px;
}

	.head .slice img {
		top: 0;
	}

.torso {
	height: 176px;
}

	.torso .slice img {
		top: -192px;
	}

.legs {
	height: 240px;
}

	.legs .slice img {
		top: -368px;
	}