/* mini reset */

.spin-two-three * {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* shows the spin-two-three main element when the scripts runs */

.spin-two-three.started {
	visibility: visible;
}

/* vertical */

.spin-two-three {
	overflow: hidden;
	visibility: hidden;
}

	.wheel {
		position: relative;
		display: block; /* to stack wheels verticaly */
	}

		.slices {
			font-size: 0;
			white-space: nowrap; /* stacks the inner elements horizontally */
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

			.slice {
				font-size: 16px;
				font-size: 1rem;
				display: inline-block;
				position: relative;
			}

/* horizontal */

.spin-two-three.horizontal {
	font-size: 0;
	white-space: nowrap;
}

	.horizontal .wheel {
		font-size: 16px;
		font-size: 1rem;
		display: inline-block;
	}

		.horizontal .slices {
			white-space: pre-wrap;
		}

			.horizontal .slice {

			}