* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.spin-two-three {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	width: 594px;
	margin: 1em auto;
	visibility: hidden;
	overflow: hidden;
}

.spin-two-three.horizontal {
	width: auto;
	height: 1em;
	background-color: yellow;
}

.spin-two-three.started {
	visibility: visible;
}

.spinner {
	position: relative;
}

.horizontal .spinner {
	width: 1em;
	height: 100%;
	display: block;
	float: left;
	background-color: lime;
}

.slices {
	font-size: 0;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.horizontal .slices {
	white-space: pre-wrap;
}

.slice {
	font-size: 16px;
	font-size: 1rem;
	width: 594px;
	display: inline-block;
	position: relative;
}

.horizontal .slice {
	width: auto;
	display: block;
	background-color: red;
}

.slice img {
	display: block;
	position: relative;
}

.head {
	height: 192px;
}

	.head .slice img {
		top: 0;
	}

.torso {
	height: 176px;
}

	.torso .slice img {
		top: -192px;
	}

.legs {
	height: 240px;
}

	.legs .slice img {
		top: -368px;
	}